/* 

.tab.current-tab {
    background-color: rgba(213, 58, 15, 0.5);
    border-radius: 4px;
    display:inline;
    padding:3px;
}
 

.parameter{
    display: inline-block;
    background-color: rgb(234, 126, 126);
    margin: 25px;
    padding: 15px;
    border-radius: 10px;

}

.tab{
    display:inline-block;
    margin: 45px;
    padding:5px;
    border-radius:10px;
}

.form-container.active{
   transform: scale(1);
   opacity: 1;

}
 */
@media (max-width: 480px) {
    body {
        background-image: url(images/background-mobile.jpg);
    }
}

/* 
 font-family: 'Cairo Play', sans-serif;
font-family: 'Foldit', cursive;
font-family: 'Frank Ruhl Libre', serif;
font-family: 'Phudu', cursive;
font-family: 'Roboto', sans-serif; */

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

:root{
--colorDark1: #1e4a7b;
--colorDark2: #2661b4;
--colorLight1: #d7d08f;
--colorLight2: #ffffff;
 

}

.wrapper{
    width:100vw;
    height:100vw;
    color:var(--colorLight2);
    background-image: linear-gradient(160deg,#112d4e 0%,#2661b4 100%);;
}

h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
}
.tab-container{
    width:90%;
    max-width: 550px;
    margin:0 auto;
    margin-top: 4rem;
    display:flex;
    justify-content:space-between;

}

.tab{
    cursor:pointer;
    font-size:0.875rem;
    letter-spacing: 1.75px;
    padding:5px 8px;
}

.tab.current-tab{
   background-color: rgba(219, 226, 239, 0.5);
   border-radius: 4px;
}

.weather-container{
    /* display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-block:4rpm; */
    margin-block: 5rem;
}

.btn{
    all:unset;
    /* appearance: none;
    border: none;
    color:white; */
    font-size:0.85rpm;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--colorDark2);    
    cursor: pointer;
    padding: 10px 30px;
    margin:10px;
    
}
.sub-container{
    display:flex;
    flex-direction: column;
    align-items: center;

}
 .grant-location-container{
    display:none;
}

.grant-location-container.active{
    display:flex;
}

.grant-location-container img{
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.grant-location-container p:first-of-type{
    font-size:1.75rem;
    font-weight:600;
}

.grant-location-container p:last-of-type{
    font-size: 0.85rem;
    font-weight: 500;
    margin-top:0.75rem;
    margin-bottom:1.75rem;
    letter-spacing: 0.75px;

}

.loading-container{
    display:none;
}

.loading-container.active{
    display:flex;
}
.loading-container p{
    text-transform: uppercase;
}  
.user-info-container{
    display:none;
}

.user-info-container.active{
      display:flex;
      
}
.name{
    display:flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}
.name p{
     font-size:2rem;
}
.name img{
    width: 30px;
    height: 30px;
}  

.user-info-container p[data-cityName]{
    font-size:1.75rem;
    font-weight: 400;
}

.user-info-container p{
    font-size:1.15rem;
    font-weight: 300;
}

.user-info-container p[data-temp]{
    font-size:2.50rem;
    font-weight: 600;
}

.parameter-container{
    width: 90%;
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.parameter{
    width:30%;
    max-width: 200px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    align-items: center;
}

.parameter img{
    width:50px;
    height:50px;
}
.parameter p:first-of-type{
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
}

.parameter p:last-of-type{
    font-size:1rem;
    font-weight:200;
}

.form-container{
    display:none;
    width:90%;
    max-width: 550px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 3rem;
    margin-top:5rem;

}

.form-container.active{
    display:flex;
}

.form-container input{
    all:unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 10px;
}
 
.form-container input::placeholder{
     color: rgba(255, 255, 255, 0.7);
    
}

.form-container input:focus{
 
     outline: 3px solid rgba(255, 255, 255, 0.7);
}

.form-container .btn{
   width:40px ;
   height:40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 100%;
   padding:unset;
}

.error-container{
    display:none;

}

.error-container.active{
    display:flex;
    
}
